<div class="row align-center" style="padding-bottom: 150px">
    <app-image-header
        [title]="'Select an Age Range'" 
        [src]="'../assets/Other multiple ages.jpg'"></app-image-header>
    <!-- <div class="col-xs-12">
        <h1>Time-sharing Schedules</h1>
    </div>             -->
    <div class="col-xs-12">
      <div class="row" style="margin: 10px;">
        <div class="col-xs-4">
          <div class="age-container" (click)="ageSelected('a')">
            <app-image-header
            [title]="'Age 0-3'" 
            [src]="'../assets/0-3 Choice.jpg'"></app-image-header>
          </div>
        </div>
        <div class="col-xs-4">
          <div class="age-container" (click)="ageSelected('b')">
            <app-image-header
            [title]="'Age 4-5'" 
            [src]="'../assets/4-5 choice.jpg'"></app-image-header>
          </div>
        </div>
        <div class="col-xs-4">
            <div class="age-container" (click)="ageSelected('c')">
              <app-image-header
              [title]="'Age 6-12'" 
              [src]="'../assets/6-12 choice.jpg'"></app-image-header>
            </div>
        </div>
        <div class="col-xs-6">
          <div class="age-container" (click)="ageSelected('d')">
            <app-image-header
            [title]="'Age 13-19'" 
            [src]="'../assets/13-19 choice.jpg'"></app-image-header>
          </div>
        </div>
        <div class="col-xs-6">
            <div class="age-container" (click)="ageSelected('m')">
              <app-image-header
              [title]="'Multiple Ages'" 
              [src]="'../assets/Multiple ages choice.jpg'"></app-image-header>
            </div>
          </div>
        </div>
    </div>
</div>