.green-custody {
    background-color: #348B00;
}

.blue-custody {
    background-color: #004D8F;
}

.red-custody {
    background-color: #9D0000;
}

.purple-custody {
    background-color: #800080;
}

.add-custody {
    background-color: gray;
}

.custody-type-container {
    color: white;
    height: 350px;
    margin-bottom: 40px;
    padding: 10px;
    text-align: center;
}

.custody-button {
    border: white solid 1px;
    background-color: inherit;
    padding: 10px;
    font-size: 25px;
}

.custody-text {
    height: 65%;
}

.plans-header {
    padding-bottom: 20px;
}

.plans-container {
    padding-bottom: 150px;
}
