<div class="row home-container">
    <app-image-header
        [title]="'Welcome!'" 
        [src]="'../assets/Main Feature Photo.jpg'">
    </app-image-header>

    <div class="col-xs-12" style="padding-bottom: 30px">
        <div class="row">    
                <div class="col-xs-8 col-xs-offset-2 align-center">
                        <h1>Why are the Parenting Plan Form and Time-Sharing Plans Important?</h1>
                        <p>
                            The parenting plan form is a legal binding agreement that lays out most decisions relating to the
                            children and the responsibilities of the parents. It is extremely important to create a sustainable
                            plan in the best interest of the child, as after the plan is approved/created by a judge, a breach
                            in the plan is considered contempt of court.
                        </p>
                        <p>
                            The general time-sharing schedule determines the time-sharing of the children. This website
                            provides over 100 options on how the time with the children can be laid out. Quality time with
                            the children is important to keep in mind when looking at the schedules instead of the overall
                            time with the child.
                        </p>
                        <p>
                            These documents have lasting impacts on the children and your life moving forward. Much care
                            should be taken to propose a suitable plan focused on the best interest of the children.
                        </p>
                    </div>
                
            <div class="col-xs-6">
                <button class="btn btn-primary float-right" [routerLink]="['/model-form']">Model Parenting Plan Form</button>        
            </div>
            <div class="col-xs-6">
                    <button class="btn btn-secondary" [routerLink]="['/parenting-plans']">Select Schedule</button>        
                </div>
    
        </div>
    </div>
    <app-image-header
        [src]="'../assets/delfi-de-la-rua-168906.jpg'"
        [title]="'Steps to Choosing a General Time-Sharing Schedule'"></app-image-header>
    <div class="col-xs-12">
            <!-- <h1 class="align-center">Steps to Choosing a  General Time-Sharing Schedule</h1> -->
            <div class="row">
                <div class="col-xs-8 col-xs-offset-2 align-center home-icon-padding">
                    <span class="fa-stack home-icon-size">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fas fa-file-contract fa-stack-1x fa-inverse"></i>
                    </span>
                    
                    <p class="bold">Step 1: Physical Custody Type</p>
    
                    <p>
                        Parents choose which physical custody type they are seeking.
                    </p>
                </div>        
                <div class="col-xs-8 col-xs-offset-2 align-center home-icon-padding">
                    <span class="fa-stack home-icon-size">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fas fa-user fa-stack-1x fa-inverse"></i>
                    </span>
                    
                    <p class="bold">Step 2: Age Category of Child(ren)</p>
                    <p>
                        These plans are divided into four key age categories, with additional categories including a multiple age category and unique work situations. The plans are organized into age categories with the best interests of the child's development in mind. 
                    </p>
                </div>
                <div class="col-xs-8 col-xs-offset-2 align-center home-icon-padding">
                    <span class="fa-stack home-icon-size">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fas fa-calendar-alt fa-stack-1x fa-inverse"></i>
                    </span>
                    
                    <p class="bold">Step 3: General Time-Sharing Schedule</p>
                    <p>
                        Parents select a general time-sharing schedule, which includes a pdf form that can be attached to the model parenting plan form. Parents can select a plan together or independently.
                    </p>
                </div>
                <div class="col-xs-8 col-xs-offset-2 align-center home-icon-padding">
                    <span class="fa-stack home-icon-size">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fas fa-file fa-stack-1x fa-inverse"></i>
                    </span>
                    
                    <p class="bold">Step 4: Combine Model Parenting Plan Form and General Time-Sharing Schedule</p>
                    <p>
                        Parents include their selected time-sharing schedule in the parenting plan form.
                    </p>
                </div>

                <div class="col-xs-8 col-xs-offset-2 align-center home-icon-padding">
                    <span class="fa-stack home-icon-size">
                        <i class="fas fa-circle fa-stack-2x"></i>
                        <i class="fas fa-gavel fa-stack-1x fa-inverse"></i>
                    </span>
                    
                    <p class="bold">Step 5: Submit Parenting Plan and Schedule to Judge</p>
                </div>        
            </div>
    </div>    
</div>