<!--The content below is only a placeholder and can be replaced.-->
<div class="header">
  <span class="site-title" [routerLink]="['/home']">Alabama Parenting Plans</span>
  <div class="pull-right">
    <button [routerLink]="['/home']" 
            type="button" class="btn header-buttons">HOME</button>
    <button [routerLink]="['/about']" 
            type="button" class="btn header-buttons">ABOUT</button>
    <button [routerLink]="['/model-form']" 
            type="button" class="btn header-buttons">MODEL PARENTING PLAN FORM</button>
    <button [routerLink]="['/parenting-plans']" 
            type="button" class="btn header-buttons">GENERAL TIME-SHARING SCHEDULES</button>

  </div>
</div>
<div class="body row">
  <div class="col-xs-12">
    <router-outlet></router-outlet>
  </div>
</div>
<div class="footer">
  <div class="row">
    <div class="col-xs-12 align-center">
      <p>
        Information provided by the Alabama Law Institute.
      </p>
      <p class="italicize">
        *All decisions related to custody and plans are subject to approval by the judge.*
      </p>
    </div>
  </div>
</div>
