.header {
    background: #400000;
    color: white;
    padding: 15px;
}

// .body {
//     padding: 10px 10px  90px 10px;
//     width: 100%;
// }

.footer {
    background: black;
    color: white;
    padding: 15px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.site-title {
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.header-buttons {
    font-size: 15px;
    color: white;
}