<div class="row about-container">
  <app-image-header
    [title]="'About'" 
    [src]="'../assets/frank-mckenna-228328.jpg'">
  </app-image-header>
  <div class="col-xs-12" style="margin-left: 10px;">
    <h2>Purpose</h2>
    <ul>
      <li>
        Provide a model parenting plan form for consideration by parents, lawyers, and judges.
      </li>
      <li>
        Suggest a time-sharing schedule based around the best interest of each child.
      </li>
      <li>
        This website does NOT provide any legal advice.
      </li>
    </ul>
    <!-- <p>
        The purpose of this website is to provide a model parenting plan form and general time-
        sharing schedules for consideration by parents, lawyers, and judges. The time-sharing schedules
        are based on developmental considerations for children in a post-divorce family. This parenting
        plan and these time-sharing schedules are a compilation of resources from current Alabama
        practices, other states, and practicing family law experts. This website contains an example
        parenting plan form and numerous time-sharing schedules to aid parents, judges, and lawyers
        in child custody cases.
    </p>
    <p>
        This website does not provide any legal advice. This website provides options for
        creating a personalized parenting plan and general time-sharing schedule as well as
        developmental considerations for selecting a parenting plan that best meets the needs of the
        children.
    </p>
    <p>
        The schedules are focused on the best interests of the children, particularly for the
        development of younger children. Infants benefit from seeing each parent frequently. Shorter
        but more frequent periods of time are the best for infants to develop a connection with the
        parent.
    </p> -->
  </div>
  <hr class="about-divider">
  <div class="col-xs-8" style="margin-left: 10px;">
    <h2>Using the Website</h2>
    <p>
        The parenting plan details most information about child custody, and the
        general time sharing schedule details the time-sharing between the parents based
        on a typical school schedule.
    </p>
    <ul>
      <li>
          <span class="italicize">Parenting plan form:</span> A plan to be submitted to the judge detailing physical custody type of
          the child, information sharing protocol, transportation, and a myriad of other decisions
          affecting how the child will be raised. The time-sharing schedule is part of the parenting
          plan.
      </li>
      <li>
          <span class="italicize">General time-sharing schedule:</span> Part of the parenting plan; details how the parents will
          schedule time with children during the general school year. The General Time-Sharing
          Schedule does not detail how parents will schedule time with children during school
          holidays and summer breaks. The parenting plan form details how parents spend time
          with parents during school holidays and summer breaks <span class="bold">(Holiday and Summer Time-
              Sharing Scheduling)</span>. An example of a general time-sharing schedule: parents alternate
          physical custody of the children each week.
      </li>
    </ul>
  </div>
</div>
