<div class="row">
  <app-image-header
    [title]="'Model Parenting Plan Form'"
    [src]="'../assets/Blue 0-3.jpg'"></app-image-header>
    <div class="col-xs-8  col-xs-offset-2 align-center">
      <p>
        The Alabama Model Parenting Plan Form contains crucial information for parenting
        decisions and time-sharing. Ideally, parents will utilize the Model Parenting Plan Form to
        discuss parenting decisions before the court date. Many crucial parenting decisions are detailed in the Model Parenting Plan Form. Care
        should be taken to develop a suitable parenting plan for each family’s situation.
      </p>

      <a href="../assets/plans/green/Green A1.png" download="Model Parenting Plan Form">Click here</a> to download model parenting plan form.
    </div>
</div>