/* You can add global styles to this file, and also import other style files */
.pull-right {
    text-align: right;
}

.pull-left {
    text-align: left;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}
.align-center {
    text-align: center;
}

.bold {
    font-weight: bold;
}

.italicize {
    font-style: italic;
}

.btn-primary {
    border: none;
}

body {
    font-size: 18px;
}
